@import "tailwindcss";

@theme {
    --color-background: #0F172A; /*Page background, navbars*/
    --color-primary: #6366F1; /*Cards, sections, containers*/
    --color-surface: #1E293B; /*Buttons, links, hover highlights*/
    --color-accent: #FB923C; /*Highlights, icons, emphasis*/
    --color-text-primary: #F1F5F9; /*Main text color*/
    --color-text-muted: #94A3B8; /*Secondary text, subtext*/
    --color-border: #334155; /*Dividers, card outlines*/
    --color-wheat: #f5deb3;
}

@layer base {
    html{
        background-color: wheat;
        font-family: 'Inter', sans-serif;
    }

    /*nav a {
        display: inline-block;
        padding: .5em 5%;
    }*/

    nav a:hover {
        color: var(--color-primary);
    }

    /*nav{
        text-align: center;
        font-size: 1.1em;
        border-bottom: 1px solid gray;
    }*/

    h1 {
        text-align: center;
        padding: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    h2 {
        padding: 20px 0px;
        font-size: 30px;
        font-weight: bold;
    }

    footer{
        border-top: 1px solid gray;
    }

    section{
        max-width: 850px;
        padding: 30px 10px;
        margin: 0px auto;
    }

    p, li{
        font-size: larger;
        text-align: justify;
    }

    p, ul{
        padding-bottom: 20px;
        list-style-type: disc;
        list-style-position: inside;
    }

    ul{
        padding-left: 40px;
    }

    a{
        text-decoration: underline;
    }

    img.me {
        width: 100%;
        max-width: 230px;
        height: auto;
        border-radius: 50%;
        float: right;
        background-color: gray;
        margin: 13px;
    }
}